{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.formset.min.js"></script>
<script type="text/javascript" src="/js/jquery.dynChoiceLoad.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var callbackInterfaceRow = function(row) {
    $(function() {
      $("#{{ packageForm.name.auto_id }}").dynChoiceLoad({
        uri: '/add/service/',
        target: "#"+row.find('select')[1].id,
        sourceKey: "package",
        addSources: [["#"+row.find('select')[0].id, "msgType"]]
      });
    });
    
    $(function() {
      $("#"+row.find('select')[0].id).dynChoiceLoad({
        uri: '/add/service/',
        target: "#"+row.find('select')[1].id,
        sourceKey: "msgType",
        addSources: [["#{{ packageForm.name.auto_id }}", "package"]]
      });
    });
  }
  
  $(function() {
    callbackInterfaceRow($("#{{ interfaceForm.prefix }}-row"));
  });
  
  $(function() {
    $('#paramForm tbody tr').formset({
      prefix: '{{ paramForm.prefix }}',
      addText: "",
      deleteText: "",
      formCssClass: "dynamic-paramForm"
    });
  });
  
  $(function() {
    $('#interfaceForm tbody tr').formset({
      prefix: '{{ interfaceForm.prefix }}',
      addText: "",
      deleteText: "",
      formCssClass: "dynamic-interfaceForm",
      added: callbackInterfaceRow
    });
  });
  
  $(function() {
    $("#{{ packageForm.name.auto_id }}").dynChoiceLoad({
        uri: "/add/node/",
        target: "#{{ nodeForm.name.auto_id }}",
        sourceKey: "package"
    });
  });
});
</script>
<style type="text/css">
  .add-row {
    padding-left:18px;
    background:url(/img/add.png) no-repeat left center;
  }
  .delete-row {
    float:right;
    display:block;
    margin:5px 0 0 5px;
    text-indent:-6000px;
    background:url(/img/delete.png) no-repeat left center;
    width:16px;
    height:16px;
  }
</style>
{% endblock %}

{% block title %}Web Interface{% endblock %}

{% block content %}
<form action="/add/" method="post">{% csrf_token %}
  <p>
    <h3>Package</h3>
    {{ packageForm.non_field_errors }}
    <table border="0" cellpadding="5">
      <th style="text-align:left">{{ packageForm.name.label_tag}}:</th>
      <td>{{ packageForm.name.error }}{{ packageForm.name }}</td>
    </table>
  </p>
  <hr>
  <p>
    <h3>Node</h3>
    {{ nodeForm.non_field_errors }}
    <table border="0" cellpadding="5">
     <th style="text-align:left">{{ nodeForm.name.label_tag}}:</th>
     <td>{{ nodeForm.name.error }}{{ nodeForm.name }}</td>
    </table>
    
    {{ paramForm.management_form }}
    {{ paramForm.non_field_errors }}
    <table id="paramForm" border="0" cellpadding="5" width="90%">
      <thead>
        <tr>
          <th scope="col"  width="35%"><label>Parameter Name</label></th>
          <th scope="col"  width="10%"><label>Optional</label></th>
          <th scope="col"  width="10%"><label>Type</label></th>
          <th scope="col"  width="40%"><label>Default Value/Path</label></th>
        </tr>
      </thead>
      <tbody>
        {% for param in paramForm %}
          <tr id="{{ paramForm.prefix }}-row">
            {{ param.non_field_errors }}
            <td>{{ param.name.error }}{{ param.name }}</td>
            <td style="text-align:center;">{{ param.opt.error }}{{ param.opt }}</td>
            <td>{{ param.paramType.error }}{{ param.paramType }}</td>
            <td>{{ param.default.error }}{{ param.default }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
  <hr>
  <p>
    <h3>Interface</h3>
    {{ interfaceForm.management_form }}
    {{ interfaceForm.non_field_errors }}
    <table id="interfaceForm" border="0" cellpadding="5" width="90%">
      <thead>
        <tr>
          <th scope="col" width="20%"><label>Type</label></th>
          <th scope="col" width="40%"><label>Name</label></th>
          <th scope="col" width="40%"><label>Definition</label></th>
        </tr>
      </thead>
      <tbody>
        {% for interface in interfaceForm %}
          <tr id="{{ interfaceForm.prefix }}-row">
            {{ interface.non_field_errors }}
            <td>{{ interface.msgType.error }}{{ interface.msgType }}</td>
            <td>{{ interface.name.error }}{{ interface.name }}</td>
            <td>{{ interface.msgDef.error }}{{ interface.msgDef }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
  
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>
{% endblock %}
