<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="refresh" content="4;{{ nextPage }}">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Error - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">
      <div id="error">

	<h1>Error</h1>

	<p>
	  <pre>{{ errorMessage }}</pre>
	</p>
      </div>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
