<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Login - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>Login</h1>

      {% if error %}
      <p class="error">Sorry, that's not a valid username or password</p>
      {% endif %}

      <p>
	<form action="/login/check/" method="post" class="commitForm">{% csrf_token %}
          <table border="0" cellspacing="20">
            <tr><td>Username:</td><td><td><input name="username" type="text" size ="15" id="username"></td></tr>
            <tr><td>Password:</td><td><td><input name="password" type="password" size="15" id="password"></td></tr>
          </table>
          <input type="submit" value="Login" />
	</form>
      </p>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
