{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

{% if error %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<p>
  <form action="/login/check/" method="post" class="commitForm">{% csrf_token %}
    <table border="0" cellspacing="20">
      <tr><td>Username:</td><td><td><input name="username" type="text" size ="15" id="username"></td></tr>
      <tr><td>Password:</td><td><td><input name="password" type="password" size="15" id="password"></td></tr>
    </table>
    <input type="submit" value="Login" />
  </form>
</p>
{% endblock %}
