<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/service.min.js"></script>
    <title>Web Interface - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">
      <form action="/service/sumit/" method="post">{% csrf_token %}
        <table>
          {{ service }}
        </table>
          {% include "paramForm.html" %}
        <input type="submit" value="Submit" />
      </form>
      
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
